html, body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.data-wrapper {
    position: relative;
    display: inline-block;
    border: solid transparent 1px;
}

.data-wrapper:hover {
    border: solid red 1px;
}

.edit-tooltip {
    position: absolute;
    left: 0%;
    top: 1.3rem;
    visibility: hidden;
    cursor: pointer;
}

.collapse-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.data-wrapper:hover > .edit-tooltip {
    visibility: visible;
}

ol.data-map {
    position: relative;
    list-style: none;
}

ol.data-map::before {
    content: "{";
}

ol.data-map::after {
    content: "}";
}

ol.data-map.data-map-collapsed::before {
    content: "{...";
}

.data-map-key {
    position: relative;
    color: green;
    margin-right: 1rem;
}

.data-map-key::before {
    content: "\"";
}

.data-map-key::after {
    content: "\":";
}

.data-string {
    position: relative;
    color: blue;
}

.data-string:before {
    content: "\"";
}

.data-string:after {
    content: "\"";
}

ul.data-vector {
    position: relative;
    list-style: none;
}

ul.data-vector::before {
    content: "[";
}

ul.data-vector::after {
    content: "]";
}

ul.data-vector.data-vector-collapsed::before {
    content: "[...";
}

.data-vector-index {
    position: relative;
    color: red;
    margin-right: 1rem;
}
.data-vector-index::after {
    content: " - "
}

.data-boolean {
    position: relative;
    color: rebeccapurple;
}

.data-number {
    position: relative;
    color: tan;
}

.data-nil {
    position: relative;
    color: brown;
}

.data-keyword {
    position: relative;
    color: yellow;
}

.data-keyword::before {
    content: ":";
}

